#content-desktop {display: block;}
#content-mobile{display: none !important;}


body{
    font-size:100%;
    width:1060px;
    margin:0 auto;
    padding: 0;
    height: 100%;
  direction: rtl;
  }

  .container{
    width: 800px;
    float:right;
  }
  .main_cont{
    margin: 0 auto;
  }

.top_info img {
    width: 350px;
    height: 300px;
    padding-right: 360px;
  }
  .top_info video {
    width: 350px;
    height: 300px;
    padding-right: 360px;
  }
  .top_info embed {
    width: 350px;
    height: 300px;
    padding-right: 360px;
  }